* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.brand-name {
  font-family: "Knewave", sans-serif;
}

header {
  background-color: #004225;
  color: #fbf6ee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

body {
  background-color: #fbf6ee;
}

.icon {
  font-size: 2rem;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0;
}

.navbar {
  color: #fbf6ee;
  font-weight: bold;
  padding: 0;
  text-decoration: none;
}

.home-container,
.package-container,
#contact-area {
  padding: 1rem 5rem;
}

#title,
#tagline {
  text-align: center;
}

#title {
  font-size: 3rem;
  font-weight: bold;
  padding: 3rem 0 0.5rem;
}

#tagline {
  font-size: 1.5rem;
  padding: 0.5rem 0 3rem;
}

.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

#home-banner {
  width: 750px;
  height: 500px;
  overflow: hidden;
}

.banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: none;
}

.testimonial {
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
  padding-top: 1rem;
}

.customer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.5rem;
  gap: 0.5rem;
}

.customer-details .customer-name {
  font-weight: bold;
}

.form-container {
  background-color: #f9e8d9;
  border-radius: 20px;
  padding: 1.5rem;
}

.cta-info {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
}

.info-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.info-form label {
  font-weight: bold;
  padding: 0.25rem 0;
}

.info-form input,
.info-form select {
  display: block;
  height: 2rem;
  width: 100%;
}

#submit {
  background-color: #004225;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

#submit:hover {
  background-color: #fbf6ee;
  color: #004225;
}

#contact-area,
#package-title {
  background-color: #f7b787;
  padding: 2rem;
  text-align: center;
}

#package-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.package-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  margin: 2rem 8rem;
  padding: 3rem;
}

.package {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.package img {
  height: 75px;
  width: 56px;
  object-fit: cover;
}

.destination {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

#contact-area {
  padding: 4rem;
}

.cta-book {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.call-button {
  background-color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0;
  height: 40px;
  width: 175px;
}

.call-button:hover {
  background-color: grey;
}

.call-button a {
  color: white;
  text-decoration: none;
}

#footer {
  background-color: #ee7214;
  padding: 3rem 0 2rem;
  text-align: center;
}

#footer-texts a {
  color: black;
  margin: 2rem;
}

#footer-texts a:hover {
  color: #fbf6ee;
}

#copyright {
  margin-top: 1.5rem;
}

#copyright span {
  padding-left: 0.5rem;
}
